*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: center/cover no-repeat url("1088627.jpg") ;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mid{
    /* width: 52vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:red; */
    /* font-size: 30px;  */
}

.navbar{
    list-style: none;
    display: flex;
    flex-direction: row;
    /* background-color: black;
    color: white; */
    align-items: center;
    justify-content: space-between;
    /* margin-top: 7vh; */

    
   
}

.navbar a{
    text-decoration: none;
    background-color: black;
    color: white;
    margin-left: 75px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head{
    height: 20vh;
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.left{
    width: 10vw;
    background: center/cover no-repeat url("logo.jpg") ;
    margin-left: 20px;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 5px;  */
}

.btn{
    margin-right: 1vw;
    border-radius: 6px;
    font-size: 15px;
}

.navbar a :hover{
    text-decoration: underline;
    color: yellow;
}

.btn a{
    /* margin-right: 5px; */
    text-decoration: none;
}


.foot{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    width: 100%;
    background-color: black;
    color: white;
}

@media(min-width:500px) and (max-width: 850px){
    .btn{
        margin-right: 0.5vh;
        border-radius: 6px;
        font-size: 10px;
    }

    .navbar a{
       
        margin-left: 25px;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
   
}

.base{
    /* font-size: 50px; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    /* width: 100%; */
   
}

.heading{
    font-size: 50px;
}

@media(max-width:500px) {
    .btn{
        margin-right: 0.2vh;
        border-radius: 6px;
        font-size: 10px;
    }

    .navbar a{
       
        margin-left: 25px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
   
}



.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
